$mainFont: 'Roboto', sans-serif;
$subFont: 'Lato', sans-serif;

$mainColor: #4de1ff;
$subColor: darken(white, 80%);
$offRed: #ff7255;
$offGreen: #68c582;


$mainImage : url("../images/image1.jpg");
$serviceImage : url("../images/serviceImage.jpg");
$storeImage : url("../images/storeImage.jpg");
$authImage : url("../images/authimage.jpg");
